body {
    margin:0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

path {
    fill: white !important;
    /* pointer-events: none;    */
}

path.has-users {
    cursor: pointer;
    fill: #39CCCC !important;
    pointer-events: all;   
}

path:hover {
    fill: #7FDBFF !important;
    opacity: 0.6;
}

path.active {
    cursor: pointer;
    fill: #0074D9 !important;
    opacity: 1;
}

.sections {
    display: flex;
}

.map-wrp {
    border: 3px solid black;
    height: 100%;
    min-width: 600px;
    width: 600px;
    overflow: hidden;
    position: sticky;
    top: 0;
}
 
.map-wrp svg {
    height: 100% !important;
}

.map-details {
    background-color: #002f84;
    color: white;
    padding: 20px;
    width: 100%;
}

.details-inner {
    max-width: 450px;
    position: sticky;
    top: 0;
}

.cards {
    padding: 0;
}
.cards li {
    list-style: none;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:2px solid rgba(255, 255, 255, 0.2);
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255, 0.2);
    font-size: 20px;
    font-family: 'oswald';
    /* text-transform: uppercase; */
    color: white;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}